html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif; }

.hero {
  background-image: url(../images/pexels-element-digital-1051076.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-title {
  color: #A6D7EF;
  text-align: center;
  line-height: 45px; }
  .hero-title h1 {
    font-size: 5em;
    letter-spacing: 25px;
    font-weight: 200; }
  .hero-title span {
    font-size: 0.25em;
    letter-spacing: 10px; }

.hero-buttons {
  display: flex;
  justify-content: center; }

.botones {
  border-style: solid;
  border-width: 2px;
  border-color: #A6D7EF;
  color: #000500;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: auto;
  margin: 5px;
  padding: 5px;
  font-weight: 400;
  font-size: 1.2em; }

.botones:hover {
  background-color: #ECDCB0; }

.social {
  position: absolute;
  top: 90vh;
  text-decoration: none; }

.iconos-index {
  color: #000500; }

.iconos-index--transparent {
  margin: 5px;
  padding: 5px;
  background-color: #A6D7EF;
  border-radius: 9px;
  mix-blend-mode: screen; }

.iconos-index--transparent:hover {
  mix-blend-mode: normal; }

@media only screen and (max-width: 767px) {
  .navBox__desktop {
    display: none; }
  .navBox__mobile {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 50px;
    column-gap: 40%; }
  .navBox__mobile__sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
    .navBox__mobile__sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }
  .navBox__mobile__sidenav--style {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block; }
    .navBox__mobile__sidenav--style:hover {
      color: #f1f1f1; }
  .navBox__mobile__sidenav--transition {
    transition: 0.3s; }
  .serviciosBox {
    flex-direction: column; } }

@media only screen and (min-width: 768px) {
  .navBox__mobile {
    display: none; }
  .navBox__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100hw; }
  .navBox__desktop__logo {
    height: 250px; }
  .navBox__desktop--izq {
    justify-content: flex-end; } }

.boton:hover {
  transition-duration: 0.8s;
  transform: scale(1.1); }

.serviciosBox {
  display: flex;
  justify-content: center; }

.serviciosBox--titulo {
  color: #0B61DE; }

.precios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px; }
  @media only screen and (max-width: 767px) {
    .precios {
      padding: 50px; } }

.card-header {
  background-color: #6B654B; }

.card-header-chandas {
  background-color: #997862; }

.card-header-eco {
  background-color: #0B1F1F;
  color: #A6D7EF; }

.card-body {
  background-color: #ECDCB0;
  border-color: #ECDCB0; }

.card-body-chandas {
  background-color: #788A96; }

.card-body-eco {
  background-color: #807A7A; }

.clientes, .clientes__titulo, .clientes__carousel {
  text-align: center; }

.clientes__carousel {
  margin: 15px; }

.clientes__carousel--layout {
  display: flex;
  justify-content: center;
  align-items: center; }

.clientes__carousel--img {
  height: 100px;
  width: auto; }

.clientes__carousel--fit {
  height: fit-content; }

#contacto {
  background-color: #5EBFEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 25px 0px 25px; }

.text-contactInfo {
  color: white; }

.contact-marcado {
  font-weight: 700; }

.icono {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15); }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;
  background-color: #A6D7EF; }

.footer__redes {
  display: flex;
  flex-direction: column; }

.footer__redes__iconos {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.footer__redes__iconos--color {
  color: black; }

#toTop {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #818181; }

#toTop:visited {
  color: #818181; }

#toTop span {
  font-size: 0.8em; }

.toTop {
  align-self: flex-end; }

#dog1 {
  width: 100%; }

main {
  color: #000500; }

.laureles {
  background-color: #A6D7EF; }

.chandas {
  background-color: #d8c1b1; }

.eco {
  background-color: #545454; }

.text-muted-eco {
  color: #A6D7EF; }
