$laureles-1: #A6D7EF;
$laureles-2: #ECDCB0;
$laureles-3: #000500;
$chandas-1: #d8c1b1;
$chandas-2: #997862;
$chandas-3: #788A96;
$eco-1: #545454;
$eco-2: #0B1F1F;
$eco-3: #807A7A;

.opacity{
    background-color: #788A9650;
    box-shadow: 0 0 10px 15px #788A9650;
    border-radius: 5px;
}