@import "colores";
@mixin margin($margin,$padding) {
    margin:$margin;
    padding:$padding;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.footer__redes{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.footer__redes__iconos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    a{
        @include margin(10px,10px);
    }

}

.footer__redes__iconos--color {
    color: black;
}

.logo-footer{
    width: 480px;
    margin: 5px;
    padding: 5px;
}

.logo-footer-img {
    max-width: 100%;
}

.derechos {
    text-align: center;
    span {
        font-weight: 900;
    }
}

@media only screen and (max-width: 767px){
    .logo-footer{
        width: 250px;
    }

    .footer__redes__iconos{
        font-size: 13px;
    }

    .derechos p {
        font-size: 9px;
    }

    .derechos span{
        font-size: 10px;
    }
}