@mixin flex-positioning($justify,$align) {
    justify-content: $justify;
    align-items: $align;
}

@media only screen and (max-width: 767px){
    .navBox__desktop{
        display:none;
    }
    
    .navBox__mobile {
        height: 50px;
    }

    .navBox__mobile__logo{
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .navBox__mobile__logo--img{
        padding: 10px;
        max-height: 100%;
    }

    .navBox__mobile__hamMenu{
        position: absolute;
        top: 12px;
        left: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        & i, span{
            font-size: 11px;
        }
    }
    
    .navBox__mobile__sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
      }
      
      .navBox__mobile__sidenav--style {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        &:hover{
            color: #f1f1f1;
        }
      }

      .navBox__mobile__sidenav--transition {
        transition: 0.3s;
      }
 
      .serviciosBox{
        flex-direction: column;
      }
    }
    @media only screen and (min-width: 768px){
        .navBox__mobile{
            display:none;
        }
    
        .navBox__desktop {
            display:flex;
            @include flex-positioning(space-between,center);
            justify-content:space-between;
            align-items: center;
            height: 55px;
            width: 100hw;
            padding: 25px;
        }
    
        .navBox__desktop__logo {
            width: 150px;
            height: auto;
            padding: 25px;
        }
    
         
        .navBox__desktop--izq {
            justify-content:flex-end;
        }
    }