.boton:hover {
    transition-duration: 0.8s;
    transform: scale(1.1);
}

.serviciosBox {
    display: flex;
    justify-content: center;
}

.serviciosBox--titulo {
    color:#0B61DE;
}

.title-chandas {
    color: $chandas-1;
    text-shadow: 0 0 1px $eco-1, 0 0 1px $eco-1;
}

h2 {
    margin: 25px;
    padding: 25px;
    font-size: 45px;
}

.precios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;

    @media only screen  and (max-width: 767px) {
        padding: 50px;
    }
}

.card-header {
    background-color: #6B654B;
}

.card-header-chandas{
    background-color: $chandas-1;
}

.card-header-eco{
    background-color: $eco-1;
    color: white;
}

.background_chandas{
    background-image: url(../images/73977.jpg);
    background-size: cover;
    background-position: center;
}

.background_eco{
    background-image: url(../images/Eco/wes-hicks-MEL-jJnm7RQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.imagen_Album {
    width: 100%;
}