html {
    scroll-behavior: smooth;
}

@import "colores";

@import "index";

@import "nav";

@import "servicios";

@import "carousel";

@import "form";

@import "footer";

#toTop {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #818181;
}

#toTop:visited{
    color: #818181;
}

#toTop span{
    font-size: 0.8em;
}

.toTop{
    align-self: flex-end;
}

#dog1{
    width: 100%;
}


main {
    color: $laureles-3;
}
.laureles{
    background-color: $laureles-1;
}
.chandas{
    background-color: $chandas-1;
}
.eco{
    background-color: $eco-1;
}

.text-muted-eco {
    color: $laureles-1;
}

@media only screen and (max-width: 767px) {
    .video-presentacion{
        width:80vw;
        height:250px;
    }   
}

@media only screen and (min-width: 768px) {
    .video-presentacion{
        width:560px;
        height:315px;
    }   
}